.materials-container h2 {
    text-align: center;
}

.materials-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.image-content {
  width: 290px;
}

.section {
    height: 270px;
}
